
  .Headercontainer{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left,#7DB6FA,white);
    height: 80; 
    /* text-align: center */
  }
  
  .Searchzone{
    /* display: flex;
    flex-direction: row; */
    align-self: center;
    /* align-items: center; */
    /* margin-left:15%; */
    width: 60%;
    min-width: 250px;
    text-align: center;
  }
  
  .SearchzoneText{
    /* padding-left: 30%; */
    width: 50%;
  }
  
  .Userzone{
     align-items: flex-end;
     align-self: flex-end; 
  }

.Logozone{
  /* align-items: center; */
  vertical-align: center;
}